  @font-face {
    font-family: Elegant;
    src: url("/fonts/Mont.ttf");
  } 
 * {
   margin: 0;
   padding: 0;
   font-family: Elegant;
 }
.backImgFix img{
  width: 150%;
  height: 100vh;
  position: fixed;
  background-position: center;
  margin-left: -25%;
}

.backImgMain {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.8));
  z-index: 2;
  position: fixed;
  top: 0;
  filter: brightness(50%);
 /* backdrop-filter: blur(2px);*/
}
.musicPlayerMain {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.musicPlayerSub {
  width: 80%;
  height: 40vh;
 /* background: rgba(255,255,255,0.2);*/
  border-radius: 10px;
  background: rgba(15,15,15,0.184);
  border: 1px solid #000;
  box-shadow:.1px .1px 5px #000 inset,  
              .1px .1px 15px #000;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px 0 0 0;
 /* backdrop-filter: blur(3px);*/
  z-index: 500;
}
.albumImgMusic img{
  width: 100%;
  height: 20vh;
  border-radius: 50%;
  margin: 25px 0 0 0;
  box-shadow: .1px .1px 10px #000;
} 

.songInfo,.artist{
  position: absolute;
  color: #fff;
  top: 65%;
  font-size: 1.3rem;
  left: 0;
  text-align: center;
  min-width: 100%;
  font-weight: bolder;
  letter-spacing: 0.2px;
  text-shadow: .1px .1px 2px #000;
}
.artist {
  top: 120%;
  /*min-width: 150%;*/
  text-align: center;
}
.musicControlMain {
  position: absolute;
  bottom: 20%;
  width: 80%;
  height: 20vh;
  background: rgba(15,15,15,0.184);
  box-shadow:.1px .1px 5px #000 inset, 
              .1px .1px 15px #000; 
  left: 10%;
  border-radius: 10px;
  z-index: 5;
 /* backdrop-filter: blur(3px);*/
  color: #fff;
}
.progBarMain {
  width: 90%;
  height: 10px;
  border: 1px solid #000;
  margin:10px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 1px 0 1px;
}
.progBarSub {
  width: 0%;
  height: 8px;
  background-color: #000;
  border-radius: 10px;
  transition: 0.2s linear;
}
@keyframes sp{
  100% {
    width: 100%;
  }
}
.controlsMain {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 10vh;
}
.controlsMain div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  z-index:5000;
  transition: 0.8s;
  box-shadow:.1px .1px 10px #000;
}
/*.line {
  width: 4px;
  height: 100px;
  background: linear-gradient(45deg, #ffffff, #7d7d7d);
  position: absolute;
  z-index: 2;
  top: 52%;
  left: 20%;
  backdrop-filter: blur(2px);
}
.line:nth-child(2) {
  position: absolute;
  left: 80%;
}*/
.timeOne {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

/*.lyricsMain {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #000;
}*/
.lyricsSub {
  position: absolute;
  width: 76%;
  height: 0%;
  background: #6CB0C2;
  margin: 0px 0 0 0;
  box-shadow:.1px .1px 15px #000,.1px .1px 5px #000 inset;
  border-radius: 5px;
  color: #fff;
  overflow: scroll;
  /*padding: 8px;*/
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 40px;
  z-index: 399;
  margin: 100px 35px;
  transition: 0.8s;
  padding: 0 10px 0 10px;
}
.toShowLyr {
  height: 40%;
}
.x-icon {
  opacity: 0;
}
.x-icon,.lycIcon{
  position: fixed;
  right: 25px;
  top: 80px;
  width: 30px;
  height: 30px;
  background: #6CB0C2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50000;
  margin: auto;
  transition: 0.8s;
}
.lycIcon {
  top: 10px;
  right: 10px;
}

.queueSongs {
  width: 100%;
  height: 350px;
  position: fixed;
  bottom: 0;
  background: #1E1E1E;
  z-index: 500;
  border-radius: 10px 10px 0 0;
  color: #fff;
  transform: translateY(450px);
  transition: 0.8s;
  overflow: scroll;
  font-weight: bolder;
  letter-spacing: 0.5px;
}
.xIcon {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgDiv {
  display: flex;
  margin: 10px 0 0 10px;
}
.songInfoCard {
  margin: 10px 0 0 20px;
}
.xIcon img {
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
}
.line {
  width: 100%;
  height: 1px;
  background: #878787;
  
  margin: 0px 0 0 0;
}
.imgDiv img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.marginArt {
  margin: 10px 0 0 10px;
}
.lineCard {
  width: 100%;
  height: 1px;
  background: #878787;
  margin: 3px 0 3px -5px;
}
.callCardBtn {
  position: fixed;
  z-index: 450;
  background: #f00;
  bottom: 10px;
  left: 45%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  animation: scale 2s linear infinite;
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}
.callCard {
  transform: translateY(0);
}
.isPlaying {
  position: absolute;
  right: 20px;
/*display: flex;
  align-items: center;
  display: none;*/
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: rotateX(-14deg);
  align-items: center;
  height: 30px;
  width: 30px;
  opacity: 0;
}
.a {
  width: 4px;
  height: 3px;
  background: #30CC41;
  margin: 5px 3px 0 3px;
  transform: rotate(-180deg);
  animation: music 1s linear infinite;
  transform-origin: center;
  border-radius: 10px;
}
.a:nth-child(2) {
  animation-delay: 0.3s;
}
.a:nth-child(3) {
  animation-delay: 0.6s;
}
@keyframes music {
  0% {
    height: 3px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 3px;
  }
}
.displayNavBtn {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow:.1px .1px 5px #000;
  margin: 10px 0 0 10px;
  transition: 0.8s;
}
.transitBtn {
  transform: translateX(250px) rotate(180deg);
}
.navMain {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #000;
  width: 250px;
  z-index: 600;
  margin-left: -250px;
  transition: 0.8s;
  color: #fff;
}
.callNav {
  margin-left: 0;
}
.header {
  width: 250px;
  height: 60px;
  text-shadow: .1px .1px 5px#000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.versionDiv {
  position: absolute;
  bottom: 0;
  padding: 0 0 0 15px;
}
.btnMain {
  position: relative;
  height: 40px;
  width: 90%;
  transition:0.8s;
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  margin: 10px 0 0 15px;
}
.hoverBtn:before {
  content: "";
  position: absolute;
  width: 0px;
  height: 4px;
  background: #727DFA;
  bottom: 0;
  left: 0;
  transition: 0.8s;
}
.btnMain:hover .hoverBtn:before {
  width: 100%;
  transition: 0.8s;
}
.resource {
  margin: 10px 0 0 15px;
}
@media only screen and (min-width: 635px) {
 .musicPlayerSub {
   margin: 200px 0 0 0;
 /*  -moz-backdrop-filter: blur(5px);*/
 }
 .albumImgMusic img {
   width: 500px;
   height: 25vh;
   margin: 60px 0 0 0;
 }
 .artist,.songInfo {
   top: 75%;
   font-size: 3.5rem;
 }
 .artist {
   top: 120%;
 }
 .musicControlMain {
   height: 15vh;
   bottom: 30%;
 } 
 .progBarMain {
   height: 30px;
   margin: 30px 0 0 35px;
   border-radius: 30px;
 }
 .controlsMain div{
   width: 130px;
   height: 130px;
 }
 .controlsMain div img {
   width: 80px;
   height: 80px;
 }
 .timeOne {
   font-size: 2rem;
 } 
 .progBarSub {
   height: 25px;
   border-radius: 30px;
 }
 .lycIcon {
   width: 80px;
   height: 80px;
 }
 .lycIcon img {
   width: 60px;
   height: 60px;
 }
 .x-icon {
   width: 80px;
   height: 80px;
   right: 40px;
 }
 .x-icon img {
   width: 60px;
   height: 60px;
 }
 .lyricsSub {
   left: 75px;
   top: 85px;
   font-size: 4rem;
   line-height: 120px;
 }
 .xIcon {
   height: 100px;
 }
 .xIcon img{
   width: 70px;
   height: 70px;
 }
 .callCardBtn {
   width: 100px;
   height: 100px;
 }
 .callCardBtn img {
   width: 70px;
   height: 70px;
 }
 .queueSongs {
   height: 900px;
   transform: translateY(900px);
 }
 .songInfoCard {
   margin: 20px 0 20px 40px;
 }
 .callCard {
   transform: translateY(0);
 }
 .imgDiv img{
   width: 120px;
   height: 120px;
   background: #f00;
   margin: 15px 0 0 0;
 }
 .songInfoCard {
   font-size: 3rem;
 }
 .isPlaying {
   width: 100px;
   height: 100px;
   margin:15px 0 0 0;
   justify-content: space-around;
 }
 .a {
   width: 15px;
   height: 70px;
   animation: height 1s linear infinite;
 }
 @keyframes height {
   0% {
     height: 60px;
   }
   50% {
     height: 20px;
   }
   100% {
     height: 60px;
   }
 }
}
#F5741B
